config setup
    charondebug="all"
    uniqueids=yes

conn s2s-vpn
    type=tunnel
    authby=secret
    left=%any
    leftid=3.213.177.134
    leftsubnet=10.1.0.0/16
    right=34.200.102.98
    rightsubnet=10.2.0.0/16
    keyexchange=ikev1
    ikelifetime=8h
    keylife=1h
    keyingtries=%forever
    ike=aes128-sha1-modp1024
    esp=aes128-sha1-modp1024
    auto=start
